.Modal .ant-modal-footer{
    display: none !important;
}
.content .ant-modal-close{
    display: none !important;
}
.modalclose{
    width: 100%;
    display: flex;
    justify-content: end;
}
.modalclose i {
    color:#6b6565;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
}
.content h3{
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #1E1E1E;
}

