.loader_wrapp {
  background-color: #fff;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #loader {
  background-color: #fff;
  backdrop-filter: blur(5px);
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;

} */
