.loader_wrapp {
    background-color: #fff;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }