.revenues_img {
  margin-bottom: 20px;
}
.btn_wrapper {
  display: flex;
  align-items: center;
}
.tableWrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(226, 228, 236, 0.2);
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
}


