.btn_wrapper{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 20px
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.buttonsClose{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;   
}
.buttonsClose button:nth-child(1){
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80px;
}
.buttonsClose button:nth-child(2){
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    width: 80px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.Wrapper i{
    font-size: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.buttons button:nth-child(1){
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 90%;
}
.Wrapper h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
}
.buttonExcel{
    background: #158E28;
    border-radius: 5px;
    color: white;
    padding: 11px 11px;
    cursor: pointer;
    border: none;
    font-family: 'Rubik';
}
.buttonExcelDisabled{
    border-radius: 5px;
    color: white;
    padding: 11px 11px;
    cursor: pointer;
    border: none;
    font-family: 'Rubik';
    background: #35b94962;
}