.wrapper {
  width: 100%;
}
.form {
  width: 100%;
}
.item_box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 30px;
}
.item_boxs {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.right_box {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.cols {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.addit_select {
  height: 40px;
  width: 130px;
  margin-left: 12px;
}
.form_wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(226, 228, 236, 0.2);
  border-radius: 20px;
  padding: 40px;
}

.miniBar_title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
  margin: 0 0 0 11px;
}
.TextAreadiv {
  display: flex !important;
  align-items: baseline !important;
  flex-direction: column !important;
}

.inputdiv {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.inputdiv p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #1f1f1f;
}
.inputdiv input {
  background: #f5f5f5;
  border-radius: 7px;
  padding: 11px 10px;
  outline: none;
  border: 1px solid #cccccc;
}
.inputdiv input:focus {
  border: 1px solid #5778ee;
}
