.box{
    background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(226, 228, 236, 0.2);
border-radius: 20px;
padding: 30px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top h4 {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    color: #181717;
}