.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 9px !important;
}
.css-b3dvpx-MuiStack-root{
    padding: 0 !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    background: #F5F5F5 !important;
}
