.btn{
    background: #158E28;
    border-radius: 5px;
    color: white;
    padding: 11px 11px;
    cursor: pointer;
    border: none;
    font-family: 'Rubik';
}
.btn_disabled {
    background: #35b94962;
    border-radius: 5px;
    color: white;
    padding: 11px 11px;
    cursor: pointer;
    border: none;
    font-family: 'Rubik';
}