.ant-table-cell {
  column-span: 2 !important;
  text-align: center !important;
  padding: 12px !important;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #181717;
}
/* .ant-table-wrapper */

/* width */
::-webkit-scrollbar {
  width: 7px !important;
  height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #5a79e5;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a79e5 !important;
  border-radius: 50px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important ;
}

.ant-table-summary {
  background: #fffcdd !important;
}

/* .ant-table-thead {
  background: #EEEFF5 !important;
  border: 1px solid #EEEFF5 !important;
  border-radius: 3px !important;
} */

/* .ant-table-tbody {
  background: #fafafa !important;
  border: 1px solid #eeeeee !important;
  border-radius: 3px !important;
} */
/* .ant-table-cell-fix-left,
.ant-table-cell-fix-right {
  background: #fafafa !important;
} */
.tablefull {
  background: #fffcdd !important;
}

.ant-table-row:hover {
  background: #fff !important;
}

.fixed-right {
  position: sticky !important;
  right: 0px !important;
  z-index: 2 !important;
  background: #fffcdd !important;
  overflow-wrap: break-word !important;
}

.ant-table-thead .smenaClose {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  background-color: #158e28 !important;
}
.buton{
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 20px;
}


.table-short {
  width: 100% !important;
}
.red-td {
  background: #ffd5d5 !important;
}
.ant-table-thead .red-td {
  background: #da6067 !important;
  color: #fff !important;
}

.ant-table-wrapper .ant-table-cell-fix-right{
  background: #fffcdd;
}



