.wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.wrapper h3 {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: #181717;
}