.box{
    background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(226, 228, 236, 0.2);
border-radius: 20px;
padding: 30px;
}
.button_table{
    background: #5778EE;
    border: 1px solid #EBEBEB;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    padding: 11px 20px;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    cursor: pointer;
}
.button_table{
    background: #5778EE;
    border: 1px solid #EBEBEB;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    padding: 11px 20px;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    cursor: pointer;
}
.button_update{
    background: #DA6067;
    border: 1px solid #EBEBEB;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    padding: 11px 20px;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    cursor: pointer;
}
.headings3{
    color: red !important;
    margin-top: 20px !important;
    font-size: 24px !important;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.buttons button:nth-child(1){
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.buttons button:nth-child(2){
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
}