.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 15px !important;
    width: 100% !important;
}
.css-b3dvpx-MuiStack-root{
    padding: 0 !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    background: #F5F5F5 !important;

}
.mbsc-popup-wrapper-anchored{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.mbsc-windows.mbsc-popup-arrow-top{
    background-color: white !important;
}

.css-b3dvpx-MuiStack-root{
    width: 90% !important;
}
.mbsc-windows.mbsc-popup-arrow-left{
    background-color: white  !important;
}

