.tabs{
    display: flex;
}
.buttonsClose{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;   
}
.buttonsClose button:nth-child(1){
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 80px;
}
.buttonsClose button:nth-child(2){
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    width: 80px;
    padding: 10px;
    border: none;
    cursor: pointer;
}