
.login_box{
    background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
border-radius: 30px;
width: 800px;
height: 400px;
padding-top: 50px;
}
.login_box h3{
margin: 0;
padding: 0;
text-align: center;
font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 120%;
letter-spacing: 0.01em;
color: #1E1E1E;
}
.form_box{
    width: 330px;
    margin: 0 auto;
}
.button{
    text-align: center;
    margin-top: 30px;
}