.tablink{
    color: #000 !important;
}
.tablinkActive{
    background: #FFD5D5;
    color: #000;
    padding: 5px;
}
.tablinkActiveColor{
    background: #E2F4E6;
    color: #000;
    padding: 5px;
}