.modalTitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #1e1e1e;
  margin: 0;
}

.form_modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.save_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
